# Default owner for all contents
*            @shorodilov

# Section-specific owners (more specific rules override default)
/src/basics/ @shorodilov @Bandydan @Jules57
/src/vcs/    @shorodilov @Bandydan
/src/rdbms/  @shorodilov @Bandydan
/src/oop/    @shorodilov
/src/django/ @PonomaryovVladyslav @shorodilov
/src/deploy/ @PonomaryovVladyslav @shorodilov
